{{- with .ctx}}

{{- $height := $.Height }}
{{- $width := $.Width }}

{{- $sizes := (slice "120" "240" "360" "480" "720" "1080" "1500") }}
{{- $processableFormats := (slice "jpg" "jpeg" "png" "tif" "bmp" "gif") }}
{{- $caption := .Site.Params.image.caption }}

{{- if .Params.cover }}
{{- $alt := (.Params.cover.alt | default $caption | plainify) }}
<figure class="image">
    {{- $cover := (.Page.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
    {{ if eq $cover nil }}{{ $cover = resources.Get (printf "images/%s" (.Params.cover.image)) }}{{end}}
    {{- if $cover -}}
        {{- if in $processableFormats $cover.MediaType.SubType }}
        <img srcset="{{- range $size := $sizes -}}
                        {{- if (ge $cover.Width $size) -}}
                        {{ printf "%s %s" (($cover.Resize (printf "%sx" $size)).Permalink) (printf "%sw ," $size) -}}
                        {{ end }}
                    {{- end -}}{{$cover.Permalink }} {{printf "%dw" ($cover.Width)}}"
            sizes="(min-width: 768px) 720px, 100vw" src="{{ $cover.Permalink }}" alt="{{ $alt }}" height="{{ $height }}" width="{{ $width }}"/>
        {{- else }}
        <img src="{{ (path.Join $.Page.RelPermalink .Params.cover.image) | absURL }}" alt="{{ $alt }}" height="{{ $height }}" width="{{ $width }}">
        {{- end }}
    {{- end }}
</figure>
{{- end }}
{{- end }}
