<nav>
    <button role="button" id="menu-toggle" onclick="window.Menu.toggle()" aria-label="Open or Close menu for Mobile devices">
        <div id="menu-icon">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
    <ul id="navbar" class="closed">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if $currentPage.IsMenuCurrent .Menu . }} 
            <li class="current">
        {{ else if $currentPage.HasMenuCurrent .Menu . }}
            <li class="current">
        {{ else }}
            <li>
        {{ end }}        
            <a href="{{ .URL }}" aria-label="Navigate to {{ .Name | humanize }}">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
    <button role="button" id="theme-toggle" onclick="window.Theme.toggle()" aria-label="Switch between Dark and Light Theme">
        <i class="fas fa-moon"></i> Theme
    </button>
</nav>
