{{ $fonts := "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" as="style" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" media="all"/>
{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
{{ $style := resources.Get "sass/app.scss" | resources.ToCSS $options }}
<link rel="preload"    href="{{ $style.Permalink }}" as="style"/>
<link rel="stylesheet" href="{{ $style.Permalink }}" media="all"/>
