p, h1, h2, h3, h4, h5, small, big, input, select, option {
  color: var(--primary);
  margin: 0;
  line-height: 1.5rem;
  padding: 5px 0;
}


h1, h2 {
  border-bottom: 2px solid var(--orange);
}

h1 {
  padding-bottom: 20px;
  line-height: 3rem;
}


h2 {
  padding-bottom: 10px;
  margin: 10px 0;
}