<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ .Site.Title }}: {{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ partial "head-style.html" .}}
  {{ partial "head-js.html" .}}
</head>

<body class="dark">
  <header>
    {{ partial "header.html" .}}
  </header>
  <main>
    {{ block "main" . }}
    {{ .Content }}
    {{ end}}
  </main>
  <footer>
    <small>Copyright &copy; {{ now.Format "2006" }} James King</small>
  </footer>
  {{ partial "foot-js.html" .}}
</body>

</html>
