{{ define "main" }}

{{ partial "breadcrumb.html" .}}
<article class="list">
    <header>
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
</article>
<ul class="list">
{{ range .Pages }}
    <li>
        <a href="{{.Permalink}}" aria-label="Link to {{ .Title | humanize }} article">
            <h3 class="heading">{{.Title}}</h3>
            <p class="summary">{{ .Summary | truncate 100 }}</p>
            <div class="date">{{.Date.Format "January 2, 2006"}}</div>
            {{ partial "figure.html" (dict "ctx" . "Height" 90 "Width" 90) }}
        </a>
    </li>
{{ end }}
</ul>
{{ end }}
