{{ define "main" }}

{{ partial "breadcrumb.html" .}}

<article class="single">
    {{ partial "figure.html" (dict "ctx" . "Height" 100 "Width" 100)}}
    <header>
        <h1>{{.Title}}</h1>
    </header>
    <section>{{.Content}}</section>
</article>

{{- if .Params.tags }}
<ul class="tags">
    {{- range ($.GetTerms "tags") }}
    <li><a href="{{ .Permalink }}" aria-label="Link to all articles tagged with {{ .LinkTitle | humanize }}"><i class="fas fa-hashtag"></i>{{ .LinkTitle | urlize }}</a></li>
    {{- end }}
</ul>
{{- end }}

{{ end}}
