{{ define "main" }}

{{ partial "breadcrumb.html" .}}
<article class="list">
    <header>
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
</article>
<ul class="tags">

{{ range .Pages }}
  {{$name := .LinkTitle}}

  <!-- (re)set the counter to 0 -->
  {{ $.Scratch.Set "tagCounter" 0 }}
  <!-- increment counter if post contains the current tag-->
  {{ range .Pages }}
    {{ if in .Params.tags $name }}
      {{ $.Scratch.Add "tagCounter" 1 }}
    {{ end }}
  {{ end }}

  <li>
      <a href="{{.Permalink}}" aria-label="Link to articles containing tags for {{ .Title | humanize }}">
          <i class="fas fa-hashtag"></i>
          {{ .LinkTitle | urlize }} | {{ $.Scratch.Get "tagCounter" }}
      </a>
  </li>
{{ end }}
</ul>
{{ end }}
