.work {
  dl {
    display: flex;
    flex-flow: row wrap;

    dt, dd {
      display: flex;
      flex-direction: row;
      flex-basis: 40%;
    }

    dd {
      margin-bottom: 10px;
    }
  }
}

.list.work{
  p {
    color: var(--content);
  }

  .date {
    display: none;
  }
}


@media only screen and (min-width: 768px) {
  .list.work {
    .date {
      display: block;
    }
  }
}