{{define "main"}}
<article class="home">
    {{ partial "figure.html" (dict "ctx" . "Height" 240 "Width" 240) }}
    <section class="header"><h1>{{.Site.Title}}</h1></section>
    <section class="body">{{ .Content}}</section>
    <section class="social">
        {{- range .Site.Params.socialIcons -}}
        <a class="icon" href="{{ trim .url " " }}" target="_blank" title="{{ .title }}" aria-label="Social Link to {{ .title }}" rel="noopener">
            <i class="{{ .icon }} fa-lg"></i>
        </a>
        {{- end -}}
    </section>
</article>
{{end}}
