.education {
  dl {
    display: flex;
    flex-flow: row wrap;

    dt, dd {
      display: flex;
      flex-direction: row;
      flex-basis: 40%;
    }

    dd {
      margin-bottom: 10px;
    }
  }
}