:root, ::after {
    --gap: 24px;
    --content-gap: 20px;
    --radius: 2rem;
    --theme: #fff;
    --entry: #fff;
    --primary: rgba(0, 0, 0, 0.88);
    --secondary: rgba(0, 0, 0, 0.56);
    --tertiary: rgba(0, 0, 0, 0.16);
    --content: rgba(0, 0, 0, 0.88);
    --code-bg: #f5f5f5;
    --border: rgba(200, 200, 200, 0.5);
    --shadow: 0 0 2px 1px;
    --underline: 0 10px 12px -12px;
    --gradient: linear-gradient(264deg, #FF8906 33.79%, #df286e 100%);
    --pink: rgba(223,40,110,1);
    --orange: #FF8906;
}

.dark {
    --theme: #1d1e20;
    --entry: #2e2e33;
    --primary: rgba(255, 255, 255, 0.84);
    --secondary: rgba(255, 255, 255, 0.56);
    --tertiary: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.74);
    --code-bg: #37383e;
    --border: rgba(55, 55, 55, 0.8);
    --shadow: 0 0 4px 2px;
    --pink: rgba(245,55,127,1);
}

button {
    --background: linear-gradient(264deg, #FF8906 33.79%, #df286e 100%);
    --padding: 10px 15px;
}

