footer {
  text-align: center;
  flex-wrap: wrap;
  border-top: solid 1px var(--divider);
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;

  div {
    flex: 1;
    flex-direction: column;
  }

  ul {
    padding-bottom: 20px;
  }

  li {
    display: flex;
    padding: 5px;
  }

  .copyright {
    padding: 0 5px;
    background-color: var(--primary);
  }
}

@media (min-width: 768px) {
  footer div {
    flex-direction: row;

    ul {
      margin: 0 auto;
    }

    li {
      display: inline-flex;
    }
  }
}