header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 3rem;
  text-align: center;
  padding: 20px 0 0;
  margin: 0;
}


@media (min-width: 768px) {
  header {
    flex-direction: row;
    padding: 10px 20px 20px;
  }
}
