nav {
  display: flex;
  margin: 0;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;

  ul {
    padding: 10px;
  }

  li {
    padding: 10px 5px;

    &.current{
      border-radius: var(--radius);
      background: var(--border);
    }
  }

  a {
    padding: 10px 15px;
  }

  #theme-toggle {
    position: absolute;
    right: 20px;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
  }

  #menu-icon {
    color: var(--content)
  }

  #navbar {
    overflow: hidden;
    padding: 0;

    &.closed {
      max-height: 0;
      transition: max-height 0.5s ease-out;
    }
    &.open {
      max-height: 500px;
      transition: max-height 0.7s ease-in;
    }
  }
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;

    ul {
      margin: 0 auto;
    }

    li {
      display: inline-flex;
      padding: 0rem 0.5rem;
    }

    #menu-toggle {
      display: none;
    }

    #navbar {  
      border-radius: var(--radius);
      border: solid 1px var(--border);
      padding: 0;

      li:hover {
        border-radius: var(--radius);
        background: var(--gradient);

        a{
          color: var(--theme);
        }
      }

      &.closed,
      &.open {
        max-height: 500px;
      }
    }
  }
}