.breadcrumbs {   
    display: none;
    flex-direction: column;

    li {
        padding: 0 5px;
        color: var(--pink);

        &:after {
            content: "";
        }

        &:not(:last-child):after {

            @extend %fa-icon;
            @extend .fa-solid;

            color: var(--pink);
            margin-left: 8px;
            font-size: 0.8rem;
            content: fa-content($fa-var-chevron-right);
        }
    }
}


@media (min-width: 768px) {
    .breadcrumbs {
        display: flex;
        flex-direction: row;
        padding: 0 20px;
    }
}
