button{
    height: fit-content;
    width: fit-content;
    padding: var(--padding);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    background: var(--theme);
    color: var(--content);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    transition: box-shadow 0.3s ease-in-out;
    font-weight: 600;

    &:hover {
        background: var(--background);
        color: var(--theme);
    }
}
