a,
u,
.link {
  text-decoration: none;
  color: var(--pink);
  position: relative;

  &::after {
    content: "1";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    -webkit-box-shadow: var(--underline) var(--pink);
    -moz-box-shadow: var(--underline) var(--pink);
    box-shadow: var(--underline) var(--pink);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  &:hover::after {
    opacity: 1;
  }
}