.list {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;

    li {
        margin: 20px;
        position: relative;
        flex-basis: calc(20% + 30px);
        min-width: 300px;
        text-align: center;
    
        a {
            display: block;
            position: relative;
            padding: 20px;
            background: var(--code-bg);
            border-radius: var(--radius);
            border: 1px solid var(--border);
            transition: box-shadow 0.2s ease-in-out;
            box-shadow: var(--shadow) var(--theme);
    
            &:hover {
                box-shadow: var(--shadow) var(--border);
            }
        }

        .heading {
            border-bottom: 2px solid var(--orange);
            margin-bottom: 15px;
        }
        .summary {
            display: none;
        }
        .date {
            position: absolute;
            bottom: 10px;
            right: 20px;
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .list {
        li {
            a {
                min-height: 200px;
            }
            .summary {
                display: block;
                color: var(--content);
                font-size: 12px;
            }
            .date {
                bottom: 20px;
                right: 30px;
            }
        }
    }    
}