ul.tags {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;

  li {
    padding: 5px 10px;
    margin: 10px;
    background: var(--theme);
    border-radius: var(--radius);
    border: 1px solid var(--border);

    &:hover {
      box-shadow: var(--shadow) var(--border);
    }

    a {
      color: var(--content);
      font-size: small;
    }
  }
}