{{ define "main" }}

{{ partial "breadcrumb.html" .}}
<article class="list education">
    <header>
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
</article>
<ul class="list education">
{{ range .Pages }}
    <li>
        <a href="{{.Permalink}}" aria-label="Link to {{ .Title | humanize }} article">
            <h3 class="heading">{{.Title}}</h3>
            <p class="summary">{{ .Summary | truncate 100 }}</p>
            {{ if or .Params.from .Params.to }}<span class="date">{{ with .Params.from }}{{ dateFormat "Jan 2006" . }}{{end}}{{ with .Params.to}} - {{ dateFormat "Jan 2006" . }}{{ end }}</span>{{ end }}
        </a>
    </li>
{{ end }}
</ul>
{{ end }}
