{{ define "main" }}

{{ partial "breadcrumb.html" .}}

<article class="single education">
    {{ partial "figure.html" (dict "ctx" . "Height" 100 "Width" 100)}}
    <header>
        <h1>{{.Title}}{{ with .Params.level.short }}<span> ({{ . | title }})</span>{{ end }}</h1>
    </header>
    {{ with .Params }}
    <section>
        <dl>
        {{ with .location }}<dt>Location:</dt><dd>{{ . | title }}</dd>{{ end }}
        {{ if (and .from .to) }}<dt>Duration:</dt><dd>{{ dateFormat "January 2006" .from }} - {{ dateFormat "January 2006" .to }}</dd>{{ end }}
        {{ with .level }}<dt>Level:</dt><dd>{{ .name | title }}</dd>{{ end }}
        {{ with .result }}<dt>Result:</dt><dd>{{ . | title }}</dd>{{ end }}
        </dl>
    </section>
    {{ end }}
    <section>{{.Content}}</section>
</article>

{{- if .Params.tags }}
<ul class="tags">
    {{- range ($.GetTerms "tags") }}
    <li><a href="{{ .Permalink }}" aria-label="Link to all articles tagged with {{ .LinkTitle | humanize }}"><i class="fas fa-hashtag"></i>{{ .LinkTitle | urlize }}</a></li>
    {{- end }}
</ul>
{{- end }}

{{ end}}
